extends _post

block post


	p After the summer it was good to get to work again! In November, I participated in an event called "ADAA to be". I exhibited my work at deconamic (Mechelsesteenweg 38c) and at antwerp art and antiques center (Mechelsesteenweg 123) in Antwerp.

	img.jh-figure(src="/blog/adaa-tobe.jpg", alt="wildwest")

	p First edition of the trans boundary event To be 2016 
	p Presented by ADAA:

	p ADAA groups art galleries, design- and antique dealers as well as other cultural institutions, located in the neighbourhood of the Leopoldplaats. They open a part of their space to a selection of young graduates from the Koninklijke Academie voor Schone Kunsten Antwerpen and Sint Lucas Antwerpen: School of Arts
	p Trans boundary as an eclectic experiment of encounters between young new artists, design objects, antiquities, displayed over smaller and larger spaces.

	p From 25 untill 27 november 2016


	img.jh-figure(src="/blog/adaa-to-be-cover.jpg", alt="adaa")



