extends _post

block post


	p From the 16th of february untill the the 20th of February the Affordable Art Fair took place in Brussels. The Lifeisart Gallery presented some of my works and I am really happy about the end result. Here are some photos of the booth.

	img.jh-figure(src="/blog/affordable-art-fair-1.jpg", alt="aaf")
	img.jh-figure(src="/blog/affordable-art-fair-2.jpg", alt="aaf")
	img.jh-figure(src="/blog/affordable-art-fair-3.jpg", alt="aaf")




