extends _post

block post


	p BEULING: Schilderkunst op de slachtbank

	img.jh-figure(src="/blog/beuling-1.jpg", alt="beuling")

	p ''Afstuderen in de schilderkunst is als afgevoerd worden naar de slachtbank. Men weet niet wat er komen gaat. Beuling toont een nieuwe generatie schilders. Negen jonge, pas afgestudeerde kunstenaars van de Antwerpse Academie voor Schone Kunsten bundelen hun krachten voor deze expo. Een krachttoer waarbij ze hun plaats opeisen in de kunstwereld. Na hun opleiding aan de academie zijn ze klaar om de artistieke wereld in te stappen. Een overgangsritueel dat ze vergelijken met naar de offertafel gedragen worden. Hun artistieke bloed zal wordt opgevangen en gebruikt, geroerd en vermalen tot Beuling. Gebundeld op ETAGE22 is de black pudding die overblijft. Een delicatessen van onze streek, schilderkunst van een nieuwe generatie.''

	p The exhibition Beuling was an organized one by a fellow student. An initiative called ‘’Etage 22’’ by Nils Verkaeren. Beuling was one of the 6 exhibitions that took place on Etage 22. Exhibitions of Emerging Artists but also established artists. Beuling ran from the 25th of June till the 10th of July. It was a great success, and I was very happy to participate. The exhibition has been mentioned by the Flemish magazine 100% Expo and the Newspaper ‘De Standaard’.

	p Other exhibitions that took place in the Antwerp tower on Etage 22 were: 
	p Mapping Emotions / Landscape	14.07 – 31.07.2016
	p Wake up and Dream				04.08 – 21.08.2016
	p Serendipity 2					25.08 – 04.09.2016
	p Mixed Emotions				10.09 – 30.09.2016
	p Like the Way you walk			25.06 – 10.07.2016

	p During this great season of the Gallery Etage 22 work has been showed by artists like Bruno van Dijck, Nick Andrews, Lieven Segers, Tina Gillen, Nadia Naveau and Dennis Tyfus.

	p Here are some photos of the exhibition Beuling and my work, enjoy!


	img.jh-figure(src="/blog/beuling-5.jpg", alt="beuling")
	img.jh-figure(src="/blog/beuling-2.jpg", alt="beuling")
	img.jh-figure(src="/blog/beuling-3.jpg", alt="beuling")
	img.jh-figure(src="/blog/beuling-6.jpg", alt="beuling")



