extends _post

block post

	p The business cards have arrived! And to be honest: I’m proud of the end result! I think the design is very clean and fits the style of the website. The paper is of high quality and the cards have a pretty matte finish. Some of the letters are very small and I'm glad that they look so nice on the printed cards. The edges are very sharp, there is no visible color bleeding. 

	img.jh-figure(src="/blog/businesscards-have-arrived-card.jpg", alt="The printed card")

	p I don’t think that a painting of mine would work as, for example, a back illustration of the business card. So we ‘’took’’ a piece out of a painting of mine called #[a(href="/works/protest") #{public.works._data['protest'].title}] and made it work like an abstract thing on it’s own. And I think it’s a good solution.

	p So now it’s time to spread the word about my website! And I’ll have to keep myself from throwing my brand new cards everywhere around haha. My Academic year will sort of start on the 22nd of September, and hopefully I will have a lot of exiting things to write about from that moment on ☺.

	img.jh-figure(src="/blog/businesscards-have-arrived.jpg", alt="Me and the cards")

