extends _post

block post

	While I just graduated this summer (Master of Fine Arts yay!), I had enough things to do to keep me busy including: Capital M. The Master exhibition of St. Lucas and the Royal Academy of Fine Arts in Antwerp. 

	p Capital M was an exhibition that ran from the 25th of June till the 10th of July in Park loods Spoor Noord in Antwerp. An exhibition that brought together the works of over 100 students of 11 different programs in a former warehouse that was huge. Walls had to be built, and the idea was to let all the different art forms of the art schools integrate. Here are some photos of my works hanging in the exhibition. For an overview of the exhibition I recommend to check #[a(href="http://www.lost-painters.nl/eindexamen-expositie-sint-lucas-antwerpen-de-koninklijke-academie-voor-schone-kunsten/") this article]. Lost-painters is a website that contains great articles, reviews and more about contemporary art. A painting of mine is also being mentioned there. 

	p The next blogpost is about the exhibition Beuling. Capital M and Beuling were two exhibitions with very different goals, looks and art. 

	img.jh-figure(src="/blog/capitalm-2.jpg", alt="capital m")
	img.jh-figure(src="/blog/capitalm-3.jpg", alt="capital m")
	img.jh-figure(src="/blog/capitalm-4.jpg", alt="capital m")
	img.jh-figure(src="/blog/capitalm-5.jpg", alt="capital m")


