extends _post

block post


	p Daniel Richter: Lonely Old Slogans

	p Last weekend I had a great time in London. Despite the fact that I was not there for art business, there was an exhibition in London which I could not miss. That is why I dragged my travel companions to the Camden Arts Center, where we visited the exhibition ‘’Lonely old slogans’’ by Daniel Richter. By the way: ‘Dragged’ is not the right term, because they loved it!
	p Daniel Richter is an artist who I respect a lot and has been (and still is) a great inspiration for me. Despite this, I have never been able to see his work in real life (till now!).  In 2007 the Gemeentemuseum in Den Haag held a big exhibition of his work. Unfortunately, I was 14-years old at that time and was not aware of his work yet. Years later I was able to get my hands on a beautiful second hand book of this exhibition.

	p While I was making my way from the exhibition space to the bookshop, I saw a face I recognized. Daniel Richter was casually hanging out and was talking to some visitors. I saw my chance and had a talk with him. Although, I was really nervous haha! Of course I let him sign the book I bought at the exhibition ☺
	p It was great to see how humble and nice he is as a person. A man who is a painter in heart and soul and is by chance very good at this.

	img.jh-figure(src="/blog/daniel-richter-2.jpg", alt="daniel richter")
	img.jh-figure(src="/blog/daniel-richter-3.jpg", alt="daniel richter")

	p Daniel Richter showed works from 1999 till 2016 in the exhibition at the Camden Arts Center. He struggled with making paintings for years. In the last exhibition hall, he has the guts to shows paintings that are new, experimental and edgy. Paintings where he is not really sure about if they are finished. I have a lot of respect that he showed these new works, and I am happy that I got to see them. His ‘’signature’’ way of using a brush and his use of colors is still recognizable in these experimental new works. In these paintings, he got rid of the fixation on depicting figures in a theatrical setting. The works do not have a very clear fore and back- ground. In some way the paintings remind me of Egon Schiele.

	p I have a lot of appreciation for the fact that he keeps looking for new ways of paintings, and is determined to keep doing this. Despite the struggles it brings, and the popularity of his early paintings. 

	p Here are some photos of the exhibit! Below some new works. The images do not do justice to the works in real life, made them with my iphone..


	img.jh-figure(src="/blog/daniel-richter-4.jpg", alt="daniel richter")
	img.jh-figure(src="/blog/daniel-richter-5.jpg", alt="daniel richter")



