extends _post

block post

	p From March 20 till the 27th I had a Masterclass in France. One I was looking forward to for a very long time. I was so happy when it finally was time to go! I did left with an uncomfortable feeling though because I decided to not take any paint with me (ok, be honest, no oil paint) and try to focus on drawing.

	img.jh-figure(src="/blog/driventodraw-1.jpg", alt="Me sketching by the lake")

	p So when I bought every color of pencil I could possibly need, (what if I want to work with markers? So I also bought a lot of those) I was ready to go! We were very lucky with the weather, it was sunny most of the days. And to be honest: It was really good to be out of the studio for a week and get some fresh air. I usually don’t see a lot of sunlight when I’m in the studio so I really enjoyed that.
	
	p A brief description of the Masterclass: We had one week to make work, and after that we had an exhibition over there that was curated by the owners of the Base-Alpha Gallery in Antwerp. Who came all the way to France to curate and talk about everybody’s work during the tour. I displayed some sketches in the gallery and made a wall painting (haha! I found some acrylic paint in a store for 1,29) in an abandoned building near by. That really suits my studio practice at the moment. The ‘’visitors tour’’ also passed by there so that was really nice. Only a shame that I couldn’t take it with me back to Belgium. Here are some pictures of the week I made with my phone. More (professional) photo’s will follow!
	

	img.jh-figure(src="/blog/driventodraw-3.jpg", alt="Sketch")
	img.jh-figure(src="/blog/driventodraw-4.jpg", alt="wall painting")
	img.jh-figure(src="/blog/driventodraw-5.jpg", alt="detail")