extends _post

block post


	p Since a while I have become an active member of Instagram! I try to post stuff about my work on a regularly base ☺. So if you would like to see studio shots, WIPS and other news: check it out and follow me! You can click on the instagram logo below to see my page.






