extends _post

block post

	p   Here is a blog article about my new painting that’s still in progress.

	p   I already made some works this school year but came to the conclusion that I can’t write about all of them. And this is one I want to talk about! I dare to say that I spend a lot of time being busy with art related stuff. While I’m painting of course or just reading, thinking or daydreaming about it. And sometimes when I, for example, just walk on the streets and just focus on walking on the street, I still get flashes of a painting or ideas in my head. I even dream about paintings once in a while!

	img.jh-figure(src="/blog/me-painting.jpg", alt="me painting")
	
	p 	This new painting all started with that I was thinking a lot about all the things that nowadays are going on in social media. The fights people have online, articles or post everybody likes. While, a lot of the sources are wrong so: A lot of incorrect data is being spread on the world wide web. But the thing where I was most intrigued by is the modern witch hunting that’s going on. And I can’t find another word for it. Because that’s exactly what it is. Social media is also being used as a tool to play cops or put people on a wall of shame. And especially with incorrect sources this can turn out wrong.

	p 	I was thinking about this subject for a while, when I suddenly got the idea to do something with it. So I started sketching and sketching and thinking and thinking… And then I came with this idea of painting anonymous people hunting on people where we all assume of did something wrong. These are just some rough sketches.

	img.jh-figure(src="/blog/modern-witchhunt-sketch.jpg", alt="rough sketch")

	p 	The term ‘’No Problemo’’ stayed in my mind all this time. Why? No problem, we will fix it by our self. We will take the lead in our hands for injustice for example. I wanted to paint the scene on a ‘’decor’’ that would look like a old postcard. Like how we send ‘’threats’’ on internet in a old fashioned way.

	p 	This is my second week on this painting but it’s going pretty fast. The size is 180 by 260 cm. I was really excited about starting this new painting so I was a lot in the studio! I really try to hold on to this feeling when I think a painting might work. It makes me truly happy. But it also reminds me to stay focused while being excited. Because ruining things doesn’t have to take a lot of time.  And I always hope that the rush I get of a painting that works will help me thru the difficult parts and the frustrations (yes there is a lot of frustration while painting). This painting is an experiment for me on the areas of not using so many layers as usual and how I depict the figures.  I’m going to try to keep it a bit less busy as usual. So here are some sneek peaks of the stage I’m in now. To be continued!

	img.jh-figure(src="/blog/modern-witchhunt-canvas-sketch.JPG", alt="canvas sketch")

	img.jh-figure(src="/blog/modern-witchhunt-detail.jpg", alt="detail")

	img.jh-figure(src="/blog/modern-witchhunt.JPG", alt="so far the painting")

