extends _post

block post

	p   With my laptop back on track (old motherboard, Rest in Peace) I’m back with updates of my latest big painting ‘’The Modern Witch hunt’’.  

	p  Been working on it for a while now, and I’m now in the phase where I feel that all the pieces are falling together. This painting is for me an example of that I never know how a painting will turn out. A part of painting that makes painting so beautiful I think.

	
	p 	When I was 14 / 15 years old, painting in my bedroom, I used to sketch everything out and didn’t let any aspect of the painting free for experimenting or improvising. But me being 15 years old is a while ago, and as I grow as a painter I became to love the action-reaction aspect of making a painting. Because I do something, I know what to do next and so on and on. And that’s why a painting always turns out different than what you expect/ have in mind. 

	p 	I always try to be critic on my work and find ways to improve myself. This painting was a bit of an experiment for me. My paintings are mostly ,especially the big ones, crowded with a lot of colors. And in the beginning of this painting. I was curious how it would be if I would try to make it a bit more ‘’silent’’. Now I think I did this a bit too drastic because the image it self was less crowded but also my colors. And after a lot of thinking and talking about it with my co-promotor, I came to the conclusion that it didn’t felt like a painting of mine. The bright colors and a lot of other aspects are something that make the painting mine, and as I will grow much further as a painter, I will (maybe some day haha) come to the age that I’m seeking for a more silent approach, only paint the pure aspect of something. But now I simply don’t. It’s a conscious decision.


	p 	I don’t think I’m a very extravert person, on the contrary, even a bit shy sometimes, but in my mind there is a lot going on and I think that’s all coming together in my paintings.

	p 	So, below are pictures of different phases of the painting. I’m still going to work out some details and small parts. The photos are taken with my (yellow) Iphone 5c, I hope that explains the medium- quality ☺. But in the meanwhile: 

	img.jh-figure(src="/blog/modern-witchhunt-1.jpg", alt="paiting stage")

	img.jh-figure(src="/blog/modern-witchhunt-2.jpg", alt="painting stage")

	img.jh-figure(src="/blog/modern-witchhunt-3.jpg", alt="painting stage")

	img.jh-figure(src="/blog/modern-witchhunt-4.jpg", alt="so far the painting")
