extends _post

block post

	p If some one would ask me:’’ Which painting took you the longest time to make from all your paintings?’’ I wouldn’t have to think about the answer. It’s the painting that I called The Modern Witch hunt. A painting that made me very happy, but also very sad and confused. But mostly a painting where I learned a lot of. Like: A lot!

	p Since the end of October, this gigantic canvas has taken residency in my studio. A canvas you can’t miss! Since my studio is not so big and the painting is. That is a good thing in times where everything is cool, but when it isn’t: You can’t take distance and it’s a reminder that things aren’t going so smooth.

	img.jh-figure(src="/blog/mwh.jpg", alt="modern witch hunt so far")

	p With so many changes, only the crocodile stayed kind of intact during this painting journey. It’s a painting I will not give up on, but which is now abandoned, and doesn’t give me sleepless nights anymore. 


	p But because I think this painting still has good elements, I will do something with it. 
	p So when the time is there I will:
	p Work further on it
	p or
	p Cut the painting into pieces and make small paintings out of it.

	p And till then, the painting is faced to the wall :).

	




