extends _post

block post

	p NEW STUDIO

	p After living for years in the great Flemish city Antwerp, obtaining my Bachelor and Master degree in Painting on the Royal Academy of Fine Arts here, I have moved to Rotterdam. 

	p Starting from the 1st of September I will be working in a great studio in the city center that felt like home since the moment I first saw it.

	p Feel free to contact me to come over and take a look at my studio. A new era with exciting things planned for the future, to be continued!

	img.jh-figure(src="/blog/new-studio-1.jpg", alt="panorama view studio")
	img.jh-figure(src="/blog/new-studio-2.jpg", alt="panorama view studio")



