extends _post

block post

	p   New school year: New Studio space

	p   So today was the day that we finally got to go to the Academy to choose our studio spaces. How ‘’further’’ you get in the Painting department in my school, the bigger your studio space will be. I already started dreaming of my Master year when I barely entered the Academy. Because I knew, that would be the moment where I would have a studio that’s totally mine (with my own key and everything).
	
	p 	I love to have contact with the other students, but when it comes down to working I’m in a phase in my life where I really have the urge to be alone while painting. I hope this doesn’t sound too sad because: It isn’t! I think it’s good for the productivity, focus and not having the idea that you’re being watched while painting is also worth a lot.

	img.jh-figure(src="/blog/new-work-space.jpg", alt="The Studio")

	p 	I’m really really really happy with the studio space that I got in the end. Can’t wait for this exciting year to start! It was hard to take a picture of my studio but I tried it with the panorama modus on my phone.  

	p 	There isn’t much to see yet, so maybe it looks boring, but for me it screams excitement! I’m going back tomorrow all packed with my paint, frames and all the other stuff I can carry. Can’t wait to make it my own! The Upcoming time the focus is mainly going to be on writing my Master Project. In a couple of weeks I have to hand it in. Briefly it means: Tell what you do, and what you are planning to do this year. More about that later.

