extends _post

block post

	p This is a project of a colleague painting student called Dawid. The title says everything: One Work, One Artist, One Week. During this week I showed a recently-made painting called ‘’Verbloeming’’. I’m going to try to explain this word: In Dutch ‘’Bloem’’ means flower and ‘’Verbloeming’’ is a Dutch expression for making things prettier than they are by putting flowers on it.  Currently I’m making a lot of works referring to this subject.

	p I think it’s a great initiative that takes place in the entry hall of the Royal Academy of Fine Arts in Antwerp. In real-life the spotlights in the showcase were really good, the picture says something different unfortunately. 
	
	p A more decent photo of this painting will be on the website soon :).
	

	img.jh-figure(src="/blog/one-week.jpg", alt="the showcase")
	img.jh-figure(src="/blog/verbloeming.jpg", alt="painting")
	