extends _post

block post

	p This weekend (October 29, 30) I participated with the event South Explorer. 

	p ‘’Cultural hotspots, temporary locations, galleries, artist studios, and art shops open their doors simultaneously offering a various and challenging program. ‘’

	p In other words: Finally time to show my studio to the world!

	p This was also a good time to reflect on the works I made so far (new and old work). During my time as a student my work was stocked all over the place. Some paintings in a storage, others in my room, some in my studio, at my parents place and so on. Because I have a big studio at the moment I am able to keep my stocking all in one place. A good way to reflect and see the development in my work.

	p I also saw this Open Studio weekend as a good deadline for some things I wanted to change and stuff I still had to fix in my studio. 

	p After all, it was a successful weekend! Here are some photos of my studio during the event. You can see that I made some changes compared to the last post :). 


	img.jh-figure(src="/blog/open-studio-1.jpg", alt="panorama view studio")
	img.jh-figure(src="/blog/open-studio-2.jpg", alt="panorama view studio")
	img.jh-figure(src="/blog/open-studio-3.jpg", alt="south explorer")
		



