extends _post

block post

	p   The magical painting device.

	p   While checking out Pinterest this summer, my eye cached a wooden thing with nails pinned on it to hang painting tubes on. I thought it was quiet brilliant. Something I could definitely use in my new studio. So, I tried to make something like that. Normally I’m fast satisfied with Do it Yourself building project because: I have never done one. So yes, I have to say, I was already happy with the nails in the wood. 
	
	p 	And then my grandpa came over and saw this thing I was working on (I don’t know how to name it to be honest) He really liked the idea and suggested to take it with him and make some ‘’small adjustments’’. Well I know my grandpa, he’s great at building things. Now i’m really happy with the end result, I painted it pink-ish, couldn’t help myself. And i’m really happy to use it.

	img.jh-figure(src="/blog/painting-device.jpg", alt="Painting Device")

	p 	Normally my paint was stored in my locker on school (to protect it from art kleptomaniacs) but now, with my own studio, it was kind of annoying to crawl into a locker to search for a random painting tube. Grandpa even made jokes to copyright it! I have to say: a lot of people think it’s a good idea and want to build one their own!


