extends _post

block post


	p From 19.01.2017 till 26.02.2017 I had a solo exhibition called ‘’One-trick Pony’’ at the Lifeisart Gallery in Antwerp!

	img.jh-figure(src="/blog/exhibition-window.jpg", alt="window")
	p Photo by S.Lam

	p This exhibition has been a great opportunity for me to show my new work to the world and it was a great motivation for making new series of work since I graduated. The Lifeisart Gallery is a very passionate gallery and it has been a great experience.
	p Below you can find photos of the exhibition and the catalogue text. The original is in Dutch but I translated ;). If you are interested in having a catalogue of the exhibition let me know! 

	p An archetypal horse from an old American Wild West movie, a cowboy, a revolver, a bouquet of flowers, we find a cheerful scene. 
	p The work of Joëlle Hoogendoorn can be read as a semiotic game between clichéd images and her own visual language.

	p In this series Hoogendoorn works with recognizable images of the Wild West which are emblematic of her travel experience to the west coast of America, where she witnessed unpleasant images of war veterans in poor conditions, the fear of an enemy and the easy access to weapons. One gets the urge to create a solution that eliminates the wickedness. Unfortunately the resources are not available. We lack power and authority. This urge is expressed by Hoogendoorn through painting.

	p From 25 untill 27 november 2016


	img.jh-figure(src="/blog/prance-1-6-compr.jpg", alt="prance")
	img.jh-figure(src="/blog/teardrops-verbloeming.jpg", alt="paintings")
	img.jh-figure(src="/blog/one-trick-pony-gallery.jpg", alt="painting")


