extends _post

block post

	p After obtaining my Bachelor Fine Arts Painting diploma, I had a lot of plans for the long summer holiday. Would I try to learn Spanish again? Or finally learn to type properly, you know, with 10 fingers and everything. The studios in Antwerp are closed during the summer, making it difficult to paint on the big canvases I have come to love. I tried, but not without demolishing the ceiling of my parents house (sorry mom and dad). Decisions, decisions.. Eventually my boyfriend Mick and I started working on a project to which I have been looking forward to for over 5 years: My very own website.

	img.jh-figure(src="/blog/we-are-online.jpg")

	p Of course, this didn’t happen without any complications. When I thought I had a great idea, Mick asked me: ‘’Are you sure?’’ And the other way around. Because, wasn’t that shade of blue referring too much to a Baby Store? But, that beautiful Turquoise color made it look like we were planning on selling fancy biological pancakes. Orange maybe? ‘’Well, I don’t know, I’m not an orange person. Let’s take a look at the website from the Painter Peter Doig to see what he did. Hmm.. Orange, really? Didn’t expected that from Doig.. 
	
	p And in which program did I need to compile? Jade, Harp or was it Harper? Git aka Kitty or Sublime Text? Well you know, computers are not exactly my thing. If a computer would be oil paint, then I would be water: The two don’t mix. But lucky me: It takes two to tango. So if I didn’t had Mick by my side, you would probably still see me walking by with my portfolio case in something like 10 years.
	
	p And don’t worry: There will be no lack of stamps. I already had them made before I even finished my first painting

	p Greetings,