extends _post

block post

	p   My parents are on vacation, so that means that I’ll have the whole house for myself! In these two weeks, I was planning on giving the living room a big make-over so I would be able to paint again. And I did! But I must admit, in the beginning it looked more like a scene from Dexter with the ground cloth and the plastic hanging everywhere.

	img.jh-figure(src="/blog/we-are-painting-1.jpg", alt="painting")

	p   These are just the first layers of my painting.. so there is not much to see yet, I mean the canvas is full of paint but there still is a lot of work to do! I wanted to have a blog on my website so I could show progression, even the hard stages where I’m totally stuck. When I paint I have to start somewhere, even if you wouldn’t recognize anything from the first layers in the end.  These layers are also very important when I’m ‘’building’’ a painting. They kind of work fundamental for me: Can’t live with them, can’t live without them.

	p  I’ve also made my own stamp for the first time, was wondering how that would go with oil paint on linen… And I have to say, it works pretty good!


