.container
	h1.jh-page-header Works

	.grid
		.grid-sizer.grid-2
		.gutter-sizer
		each work, slug in public.works._data
			.grid-item.grid-2
				a.jh-button.jh-interactive-trigger(href="/works/#{ slug }")
					.jh-blog-preview
						img.jh-image(src="#{ work.thumb_uri }")
