doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{ site_title }
		link(rel="stylesheet", href="/layout.css")
		script(src="/jquery/jquery.min.js")
		script(src="/bootstrap/bootstrap.min.js")
	body.text-justify
		header
			nav#nav-main.container
				ul
					li
						a(href="/") Joëlle
					li
						a(href="/gallery") Gallery
					li
						a(href="/articles") Articles

		!= yield

		footer
			.container.text-center
				ul.list-inline
					if facebook_url
						li #[a(href="#{ facebook_url }") #[i.fa.fa-facebook.fa-fw.fa-2x]]
					if twitter_url
						li #[a(href="#{ twitter_url }") #[i.fa.fa-twitter.fa-fw.fa-2x]]

				p.text-muted Joëlle Hoogendoorn

		script
			| (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			| (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			| m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			| })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			| ga('create', 'UA-65423178-1', 'auto');
			| ga('send', 'pageview');