nav#jh-nav-main
	.jh-nav-background
	.jh-nav-container
		.jh-nav-contents
			h1.jh-brand Joëlle Hoogendoorn
			.row
				.col-md-4.col-sm-6
					a.jh-button.jh-interactive-trigger(href="/")
						h1.jh-button-title.jh-interactive-color.text-center #[i.jh-button-icon.jh-interactive-background.jh-inverse.fa.fa-comment] Blog
						p.text-justify
							| Stories about my studio practice, work in progress, sketches and philosophy. You’ll find it all on my blog.
				.col-md-4.col-sm-6
					a.jh-button.jh-interactive-trigger(href="/about")
						h1.jh-button-title.jh-interactive-color.text-center #[i.jh-button-icon.jh-interactive-background.jh-inverse.fa.fa-user] About
						p.text-justify
							| I would love to talk to you, but just in case we are unable to meet, here is a little story about me.
				.col-md-4.col-sm-6
					a.jh-button.jh-interactive-trigger(href="/works")
						h1.jh-button-title.jh-interactive-color.text-center #[i.jh-button-icon.jh-interactive-background.jh-inverse.fa.fa-paint-brush] Works
						p.text-justify
							| On this page you’ll find a selection of my work.

	.jh-nav-container
		.jh-nav-controls
			button#jh-nav-main-toggle.jh-button.jh-interactive-trigger
				.jh-nav-show-active
					span.jh-interactive-color #[span.jh-button-title.jh-interactive-appear Close] #[i.jh-button-icon.jh-interactive-background.jh-inverse.fa.fa-times ]
				.jh-nav-show-inactive
					span.jh-interactive-color #[span.jh-button-title.jh-interactive-appear Menu] #[i.jh-button-icon.jh-interactive-background.fa.fa-bars ]
