.container

	h1.jh-page-header About Joëlle

	.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2

		p Joëlle is a 22-year old aspiring artist who loves spending as much time as possible with a paint brush in her hand.

		p Currently she is busy with her Master Degree Fine Arts Painting at the Royal Academy of Fine Arts in Antwerp, Belgium.

		img.jh-figure(src="/about.jpg")

		p Born and raised in Rotterdam, the Netherlands, Joëlle is an artist who makes paintings in a personal imagery. She captures paradoxes, and answers on mostly social issues she encounters in the contemporary world. Inspired by these social issues, Joëlle makes monumental canvasses whereby situations mostly are being depicted in a camouflaged way. This forms a distraction of the serious subject matters she brings up, which still stay present in a certain way. 

		p During the painting process, she lets the subjects go and gives the attention intuitive to the aesthetics. The paintings are eclectic images who insinuate things, but despite the motive of her work consist out of concrete stories, the execution isn’t anecdotic.