.container

	h1.jh-page-header About me

	p
		| I am a 22-year old aspiring artist who loves spending as much time as possible with a paint brush in my hand.

	p
		| Currently I am studying Fine Art Painting at the Royal Academy of Fine Arts in Antwerp, Belgium.

	img.jh-figure(src="/about.jpg")