.container

	h1.jh-page-header About Joëlle

	.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2

		p Joëlle is an emerging artist who loves spending as much time as possible with a paint brush in her hand. She just graduated from the Royal Academy of Fine Arts in Antwerp, Belgium where she received her MFA in Painting. Currenly Joëlle lives and works in Rotterdam, the Netherlands.

		p Joëlle's #[a(href="cv.pdf") curriculum vitae] can be downloaded by clicking the link. 

		img.jh-figure(src="/about.jpg")
