.container

	h1.page-header About me

	p
		|I’m a 22-year old aspiring artist who loves spending as much time possible with a painting brush in my hand.

	p
		|Currently studying Fine Art Painting at the Royal Academy of Fine Arts in Antwerp, Belgium.

	img.jh-figure(src="/about.jpg")