.container

	h1.jh-page-header About me

	p
		| I am a 22-year old aspiring artist who loves spending as much time as possible with a paint brush in my hand.

	p
		| Currently I am studying Fine Art Painting at the Royal Academy of Fine Arts in Antwerp, Belgium.

	img.jh-figure(src="/about.jpg")

	p I am Joëlle Hoogendoorn (1993), born and raised in Rotterdam, The Netherlands. 
	p At the age of 14, I decided to be an artist someday. It was the same age where I visited Portfolio Sessions at Art Schools to show my (portrait) drawings.  
	p Currently I am busy with my Master Degree Fine Arts Painting at the Royal Academy of Fine Arts in Antwerp, Belgium. In 2011, I started studying at the Willem de Kooning Academy. This is where I discovered that Painting was the best art form where I could express myself in. And so it was Painting that made me leave Rotterdam, and painting that brought me to the Royal Academy in Antwerp.

	p I have always enjoyed the little things in life. I try to make paintings about the things I love and appreciate or contradictions I encounter in society. Especially the little things in life are, in my opinion, rarely seen as something special nowadays. In my paintings I try to isolate these objects, or place them in an different surrounding. By placing these so called ‘’objects’’ into another context, they can be judged / seen from another perspective.

	p I want things to be noticed, even the smallest things.

	p In my previous paintings, I have worked with different subjects. The thread in my work is that all these subjects are processed in a personal way: All the subjects I work with are in some way related to myself or I feel attached to them. I’ve also made work about fears of mine and the related feelings and emotions. 

	p My biggest inspiration in my painting process is music, in the most literal way, but also figuratively. I try to make music out of my paintings. They need high tones but also low ones, hold and release, tension and relaxation. Other inspirations of mine are travelling, different cultures and memories.
