.container
	p
		|Welcome, this website is a work in progress.
	p
		|I’m a 22-year old aspiring artist who loves spending as much time possible with a painting brush in my hand.
	p
		|Currently studying Fine Art Painting at the Royal Academy of Fine Arts in Antwerp, Belgium.

	- var slugs = Object.keys(public.works._data);
	- var latest = public.works._data[slugs[0]];

	a.main-link(href="/works")
		img(src="#{ latest.image_uri }", alt="View my works")
		span View my works
