.container
	p Welcome, this website is a work in progress.

	- var slugs = Object.keys(public.works._data);
	- var latest = public.works._data[slugs[0]];

	a.main-link(href="/works")
		img(src="#{ latest.image_uri }", alt="View my works")
		span View my works
