.container
	h1.jh-page-header Blog

	.grid.row
		.grid-sizer.col-sm-6.col-md-4
		each article, slug in public.blog._data
			.grid-item.col-sm-6.col-md-4
				a.jh-button.jh-interactive-trigger(href="/blog/#{ slug }")
					.jh-blog-preview
						img.jh-figure(src="#{ article.thumb_uri }")
						h1.jh-interactive-color #{ article.title }
					p #{ article.description }