.container
	h1.jh-page-header Blog

	.grid
		.grid-sizer.grid-2
		.gutter-sizer
		each article, slug in public.blog._data
			.grid-item.grid-2
				a.jh-button.jh-interactive-trigger(href="/blog/#{ slug }")
					.jh-blog-preview
						img.jh-image(src="#{ article.thumb_uri }")
					h1.text-center.jh-interactive-color #{ article.title }
					p #{ article.description }
