.container
	h1.page-header Blog

	each article, slug in public.blog._data
		if slug !== 'index'
			- var work = public.works._data[article.work_slug];
			- var image_uri = article.image_uri || work.image_uri;
			- var link_attributes = { style: image_uri ? 'background-image: url(' + image_uri + ');' : undefined };
			a.article-link(href="/blog/#{ slug }")&attributes(link_attributes)
				h1 #{ article.title }
				p #{ article.description }