@import "../bower_components/bootstrap/less/bootstrap.less";

@font-size-base: 16px;

@import "../bower_components/font-awesome/less/font-awesome.less";

@fa-font-path: "/fonts";

@import "index.less";
@import "works/index.less";
@import "blog/index.less";
@import "_navbar.less";

html {
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
	background: none;
}

header {
	margin-bottom: 80px;
}

#main {
	padding-top: 80px;
	padding-bottom: 80px;
}

footer {
	margin-top: 80px;
	padding: 10rem 0;
}
