@import "../bower_components/bootstrap/less/bootstrap.less";

@import "index.less";
@import "gallery/index.less";

#nav-main {
	ul {
		text-align: center;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0;
			padding: 3rem;
			a {

			}
		}
	}
}

footer {
	padding: 10rem 0;
}